@model IEnumerable<Project.Dto.UserDto>
@{
    Layout = null;
}

<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car Rental App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

   


<div class="card-header" style="background-color:midnightblue;">
    <div class="card-title">
        <h1 class="text-center">Available Users</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> 

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>


    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Id)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => user.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.PhoneNumber)
            </td>
       
           
        </tr>
        }
    </tbody>
</table>